/* Header */
.header {
    background: transparent;
}

.header .menu_icon span {
    transition: .3s;
}

.header .menu_icon:hover span {
    background-color: #56c1c8;
}

.header .menu_icon:hover .icon_2,
.header .menu_icon:hover .icon_3 {
    width: 30px;
}

.header.white_header {
    background-color: #fff;
}
.header .saveBtn{
    color: white;
}
.header.white_header .saveBtn,.header.sticky_header .saveBtn{
    color: rgba(0, 0, 0, 0.677);
    border-color: rgba(0, 0, 0, 0.677);
}
.header.white_header .saveBtn:hover,.header.sticky_header .saveBtn:hover{
    color: white;
    border-color: #00858e;
}
.header.sticky_header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
    z-index: 999;
    animation: 300ms ease-in fadeInDownHeader;
    background-color: white;
    padding: 16px 0;
}

.header.sticky_header ul li .nav_item,
.header.white_header ul li .nav_item {
    color: #000;
}

.header.sticky_header ul li .nav_item:hover,
.header.white_header ul li .nav_item:hover {
    color: #00858e;
}

.header.sticky_header .loginBtn,
.header.white_header .loginBtn {
    border-color: #000;
    color: #000;
}

.header.sticky_header .loginBtn:hover,
.header.white_header .loginBtn:hover {
    border-color: #00858e;
    color: #fff;
}

.header.sticky_header .menu_icon span,
.header.white_header .menu_icon span {
    background-color: #000;
}

.header.sticky_header .menu_icon:hover span,
.header.white_header .menu_icon:hover span {
    background-color: #00858e;
}

.header ul li .nav_item {
    position: relative;
    padding: 8px 0;
}

.header.sticky_header ul li .nav_item:hover,
.header.white_header ul li .nav_item.isActive,
.header.sticky_header ul li .nav_item.isActive {
    color: #00858e !important;
}

.header ul li .nav_item::before,
.header ul li button::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.5px;
    background: #00C4F4;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: transform 0.4s cubic-bezier(.74, .72, .27, .24);
}

.header ul li .nav_item:hover::before,
.header ul li button:hover::before,
.header ul li .nav_item.isActive::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

header.sticky_header ul li .nav_item::before,
.header.white_header ul li .nav_item::before,
header.sticky_header ul li button::before,
.header.white_header ul li button::before {
    background: #00858e;
}

@keyframes fadeInDownHeader {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}


/* Mobile Nav CSS */
.mobileNav .menu {
    transform: translateX(-100%);
    transition: .3s;
    visibility: hidden;

}

.mobileNav .bg_overlay {
    opacity: 0;
    transition: .3s;
    visibility: hidden;
}

.mobileNav.show .bg_overlay {
    opacity: .60;
    visibility: visible;
}

.mobileNav.show .menu {
    transform: translateX(0%);
    visibility: visible;
}

@media (max-width: 992px) {
    .header.sticky_header {
        padding: 8px 0;
    }

    .header.sticky_header .loginBtn:hover {
        color: #00858e;
    }

}