.explore .box .box_inner {
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    user-select: none;
}

.explore .box:hover .box_inner {
    opacity: 1;
    visibility: visible;
}

.explore .slick-list {
    padding: 24px 0;
}

.explore .slick-dots {
    bottom: -15px;
}

.explore .slick-dots li {
    margin: 0;
}

@media (min-width: 768px) {
    .explore .box {
        transition: .3s;
        transform: scale(.9);
    }

    .explore .box:hover {
        transform: scale(1.1);
    }
}